.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  font-size: 1.6em;
  color: #8A62C2; 
}

form {

	width: 70%;
	margin: 0 auto;
}


fieldset {
  border: 3px solid #8A62C2;
  margin: 50px 0;
}

legend {
	font-size: 1.5em;
}

label {
   margin-left: 120px;
   color: #8A62C2;
   float: left;
   width: 15%;
}

input {
	border: 0;
	border-bottom: 1px solid #dedede;
	background-color: white;
  padding: 5px;
  margin: 5px 0;
	width: 50%;
}

.input input{
  margin-left: 245px;
}

button {
	background-color: #8A62C2;
	color: white;
	padding: 10px 25px;
	border: 0;
	margin: 25px 0 25px 115px;
}

ul{
  margin-left: 160px;
  color: #8A62C2;
}

ul li a{
  text-decoration: none;
  color: #2a2235;
  text-align: center;
  padding: 10px;
}

ul li a:hover{
  color: #8A62C2;

}